body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

:root {
  --brand-primary-color: #4d5ae5;
  --h2h3-header-footer-color: #2e2f42;
  --body-text-color: #434455;

  --modal-idx: 1000;

  /* Animation */
  --animation-fast: 400ms ease;
  --animation-slow: 900ms ease-out;
  --animationgoit-duration: 250ms;
  --transition-timing-function-goit: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  /*phone screen*/
  /* min-width: 320px; */
  /* max-width: 396px; */
  /* margin: 0 auto; */
  padding-left: 16px;
  padding-right: 16px;

  /* max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; */
}

@media screen and (min-width: 479.8px) {
  .container {
    width: 396px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Table screen*/

@media screen and (min-width: 767.8px) {
  .container {
    width: 738px;
    margin-right: auto;
      margin-left: auto;
  }
}

/* Desctop Screen */

@media screen and (min-width: 1199.8px) {
  .container {
    width: 1158px;
    margin: 0;
        margin-right: auto;
          margin-left: auto;
  }
}

.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nv{
    display: flex;
      align-items: center;
      justify-content: space-between;
}

.header-link:hover,
.header-link:focus {
  color: var(--brand-primary-color);
}

.header-link:hover::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -24px;
  left: 0;
  background-color: #404bbf;
}

a {
  text-decoration: none;
}

.headerlist {
  display: none;
}

.header-linkitem:not(:last-child) {
  margin-right: 40px;
}

.link {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  color: var(--h2h3-header-footer-color);
  /* margin-right: 121px; */
}

/* mom menu */
.mobileopenbtn {
  fill: #2e2f42;
}

.svgiconsa {
  width: 24px;
  height: 24px;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 40px;
  right: 40px;
  color: #fff;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 40px 40px 40px;
  background-color: #ffffff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.mobile-menu {
  margin-bottom: auto;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

/* .mobile-menu .link {
  display: block;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  transition-property: color;
  transition-duration: var(--animationgoit-duration);
  transition-timing-function: var(--transition-timing-function-goit);
} */

@media screen and (max-width: 767.98px) {
  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--base-color-text);
    transition: color 250ms var(--timing-function);
  }
}

@media screen and (max-width: 767.98px) {
  .aht {
    color: var(--brand-primary-color);
  }
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contacts-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-contacts-link.accent {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0;
  text-transform: capitalize;
  color: #4d5ae5;
}

.soclinkitemmob {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-contacts {
  margin-bottom: 48px;
}

.soc-link-mobm{
  gap: 20px;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--brand-primary-color);
}

@media screen and (min-width: 319.8px) {
  .mobile-contacts-link.accent {
    font-size: 7vw;
  }
}

@media screen and (min-width: 398.2px) 
{
  .soc-link-mobm {
  gap: 40px;
}
}

@media screen and (min-width: 427.8px) {
  .mobile-contacts-link.accent {
    font-size: 36px;
  }

  .soc-link-mobm{
  gap: 56px;
  }

}

/* ////////////////////////////////////
///////////////////////////////////////
/////////////////////////////////////// */
.logo {
  color: var(--brand-primary-color);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--h2h3-header-footer-color);
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  position: relative;
  cursor: pointer;
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.curent {
  color: var(--brand-primary-color);
}

.curent.header-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -24px;
  left: 0;
  background-color: #404bbf;
  visibility: inherit;
}

.contacts:hover,
.contacts:focus {
  color: var(--brand-primary-color);
}

.contacts {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-text-color);
  display: block;
  align-items: center;
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link {
  display: none;
}

/* Table screen*/

@media screen and (min-width: 767.8px) {
  .header {
    padding-bottom: 22px;
  }

  .headerlist {
    display: flex;
    align-items: center;
  }

  .contacts-link {
    display: flex;
    flex-direction: column;
  }

  .cont-lnk {
    margin-bottom: 4px;
  }

  .contacts {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }

  .curent.header-link::after {
    bottom: -28px;
  }

  .header-link:hover::after {
    bottom: -28px;
  }
}

/* ///////DESCKTOPPPPPP//////// */

@media screen and (min-width: 1199.8px) {
  .logo-link {
    margin-right: 77px;
  }

  .header {
    padding-bottom: 24px;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }

  .contacts-link {
    flex-direction: row;
  }

  .cont-lnk {
    margin-bottom: 0px;
    margin-right: 40px;
  }

  .curent.header-link::after {
    bottom: -24px;
  }

  .header-link:hover::after {
    bottom: -24px;
  }

  .contacts {
    font-weight: 500;
    font-size: 16px;
  }
}

/* HERO SECTION */

.hero {
  /* mobile screen */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 00.7)
    ),
    url(../img/bghero/Dark-bgbgmobile1xresult.jpg);
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 112px 0;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 00.7)
      ),
      url(../img/bghero/Dark-bgbgmobile2x_result.jpg);
  }
}

/* screen >=481 px */

@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 00.7)
      ),
      url(../img/bghero/Dark-bgbgtbl1_result.jpg);
  }
}

@media screen and (min-width: 481px) (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 00.7)
      ),
      url(../img/bghero/Dark-bgbgtbl2_result.jpg);
  }
}

/* screen >=769 px */

@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 00.7)
      ),
      url(../img/bghero/people-office\ 1bgdt1x_result.jpg);
  }
}

@media screen and (min-width: 769px) (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 00.7)
      ),
      url(../img/bghero/people-office\ 1bgdt2x_result.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  max-width: 319px;
}

.header-btn {
  font-family: inherit;
  font-weight: 500;
  background: var(--brand-primary-color);
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  margin-top: 80px;
  border: 0.5px solid #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: box-shadow;
  transition-duration: var(--animationgoit-duration);
  transition-timing-function: var(--transition-timing-function-goit);
}

.header-btn:hover,
.header-btn:focus {
  background: #404bbf;
  border-color: #404bbf;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 767.8px) {
  .header-btn {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1199.8px) {
  .hero {
    max-width: 1440px;
    padding-top: 192px;
    padding-bottom: 192px;
  }

  .hero-title {
    font-size: 56px;
    max-width: 496px;
  }

  .header-btn {
    margin-top: 48px;
  }
}

/* ABOUT SECTION */
.about {
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0;
}

.about-title-top {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.aboutlistsvg {
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4fd;
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .aboutlistsvg {
    display: none;
  }
}

.aboutsvg {
  width: 64px;
  height: 64px;
  display: block;
}

@media screen and (min-width: 1199px) {
  .about-listitem {
    max-width: 264px;
  }
}

.about-title {
  font-size: 36px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--h2h3-header-footer-color);
  margin-bottom: 8px;
}

.about-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
  margin: 0;
}

/* Table screen*/
@media screen and (min-width: 767.8px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .about-listitem {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }

  .about-title {
    text-align: left;
  }
}

/* Desctop Screen */

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .about-title {
    font-size: 20px;
    text-align: left;
  }

  .about-list {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 24px;
  }

  .about-title {
    font-size: 20px;
    margin-top: 8px;
  }

  .about-text {
    font-weight: 400;
  }
}

/* SERVISE SECTION */
.service {
  display: none;
}

/* Table screen*/
@media screen and (min-width: 767.8px) {
  .service {
    display: none;
  }
}

/* Desctop Screen */

@media screen and (min-width: 1199.8px) {
  .service {
    display: flex;
    padding-bottom: 120px;
  }

  .service-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--h2h3-header-footer-color);
    text-align: center;
    margin-bottom: 72px;
  }

  .service-img {
    list-style: none;
    display: flex;
  }

  .servise-item:not(:last-child) {
    margin-right: 24px;
  }
}

/* TEAM SECTION */

.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0;
}

.team-title-top {
  font-size: 36px;
  line-height: 1.11;
  color: var(--h2h3-header-footer-color);
  text-align: center;
  margin-bottom: 72px;
}

.team-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

.team-photo {
  background-color: #ffffff;
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.imgtxt {
  padding: 32px 16px;
}

.team-title {
  font-size: 20px;
  line-height: 1.2;
  color: var(--h2h3-header-footer-color);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 8px;
}

.team-txt {
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-text-color);
  text-align: center;
  margin-bottom: 12px;
}

.soclist:not(:last-child) {
  margin-right: 24px;
}

.soclinkitem {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgicons {
  width: 16px;
  height: 16px;
}

/* Table screen*/
@media screen and (min-width: 767.8px) {
  .team-photos {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 56px;
    column-gap: 24px;
  }

  .team-photo {
    margin: 0;
  }
}

/* Desctop Screen */
@media screen and (min-width: 1199.8px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-photos {
    display: flex;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 0;
  }

  .team-photo:not(:last-child) {
    margin-right: 24px;
  }
}

/* Section Customers */
.Customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.Customerstitle {
  font-size: 36px;
  line-height: 1.11;
  color: var(--h2h3-header-footer-color);
  text-align: center;
  margin-bottom: 72px;
}

.cstmr {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;
}

.logolist {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 88px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  fill: #8e8f99;
  transition-property: fill, border-color;
  transition-duration: var(--animationgoit-duration);
  transition-timing-function: var(--transition-timing-function-goit);
}

.logolista {
  flex-basis: calc((100% - 1 * 24px) / 2);
}

.logolist:hover,
.logolist:focus {
  border-color: #4d5ae5;
}

.logolistsitem {
  fill: #8e8f99;
  transition-property: fill, border-color;
  transition-duration: var(--animationgoit-duration);
  transition-timing-function: var(--transition-timing-function-goit);
}

.logolist:hover .logolistsitem {
  fill: #4d5ae5;
}

.logolist:focus .logolistsitem {
  fill: #4d5ae5;
}

.logolistsitem {
  width: 110px;
  height: 56px;
}

/* Table screen*/
@media screen and (min-width: 767.8px) {
  .logolist {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 88px;
  }

  .logolistsitem {
    width: 104px;
    height: 56px;
  }

  .cstmr {
    column-gap: 24px;
  }

.logolista {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
}

/* Desctop Screen */
@media screen and (min-width: 1199.8px) {
  .Customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .logolista:not(:last-child) {
    margin-right: 24px;
  }

  .cstmr {
    column-gap: 0;
    row-gap: 0;
    flex-wrap: nowrap;
  }

  .logolist {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 168px;
    height: 88px;
  }

  .logolistsitem {
    width: 104px;
    height: 56px;
  }
}

/* FOOTER */

.footer {
  background-color: var(--h2h3-header-footer-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footersuper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footerboxes {
  text-align: center;
}

/* .footerboxes:not(:last-of-type) {
  margin-bottom: 72px;
} */

.logo-link-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  color: #f4f4fd;
  align-items: center;
}

.footer-txt {
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
  margin-top: 16px;
  max-width: 254px;
  text-align: left;
}

.footertitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.soclistfooter {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: var(--animationgoit-duration);
  transition-timing-function: var(--transition-timing-function-goit);
}

.soclistfootera:not(:last-child) {
  margin-right: 16px;
}

.soclistfooter:hover,
.soclistfooter:focus {
  background: #31d0aa;
}

.svgiconsfooter {
  width: 24px;
  height: 24px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footerformtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.form-inpt {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 16px;
  margin-bottom: 16px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: var(--animationgoit-duration);
  transition-timing-function: var(--transition-timing-function-goit);
}

.subscribe-btn {
  display: flex;
  background: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 8px 24px;
  border: none;
}

.svg-btn-subscribe {
  width: 24px;
  height: 24px;
  align-items: center;
  margin-left: 16px;
}

/* Table screen*/
@media screen and (min-width: 767.8px) {
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footersuper {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    width: 100%;
  }

  .footerboxes {
    text-align: left;
  }

  .subscribe-form {
    display: flex;
    flex-wrap: nowrap;
  }

  .form-inpt {
    margin-bottom: 0;
    width: 264px;
    margin-right: 24px;
  }
}

/* Desctop Screen */
@media screen and (min-width: 1199.8px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
  }

  .footersuper {
    row-gap: 0;
    column-gap: 0;
    flex-wrap: nowrap;
  }

  .soclistftoneboll {
    margin-left: 120px;
    margin-right: 80px;
  }

  .footerboxes {
    text-align: left;
  }

  .form-inpt {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    width: 264px;
    height: 40px;
    background-color: transparent;
    padding-left: 16px;
    margin-right: 24px;
    outline: transparent;
    transition-property: border-color;
    transition-duration: var(--animationgoit-duration);
    transition-timing-function: var(--transition-timing-function-goit);
  }
}

/* MODALLL*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--modal-idx);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity var(--animation-fast), transform var(--animation-fast);
}

.modalbtn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: background-color, boder;
  transition-duration: var(--animationgoit-duration);
  transition-timing-function: var(--transition-timing-function-goit);
}

.modalbtn:hover,
.modalbtn:focus {
  background: #404bbf;
  border-color: var(--brand-primary-color);
}

.modalbtn:hover .modal-close-icon {
  fill: #ffffff;
}

.modal-close-icon {
  fill: rgba(0, 0, 0, 1);
  transition-property: fill;
  transition-duration: var(--animationgoit-duration);
  transition-timing-function: var(--transition-timing-function-goit);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: #ffffff;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -70%);
  opacity: 0;
}

.modal-title {
  display: block;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--h2h3-header-footer-color);
}

.registration-form-field {
  display: block;
  position: relative;
  margin-bottom: 8px;
}

.registration-form-label {
  display: block;
  margin-bottom: 4px;
  left: 0;
  color: #8e8f99;
  letter-spacing: 0.01em;
  font-size: 12px;
}

.registration-form-input {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: 1px solid transparent;
  outline-offset: -1px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: outline, border;
  transition-duration: var(--animationgoit-duration);
  transition-timing-function: var(--transition-timing-function-goit);
}

.registration-form-input:focus {
  outline-color: var(--brand-primary-color);
}

.registration-form-icon {
  position: absolute;
  bottom: 8px;
  left: 16px;
  fill: rgba(46, 47, 66, 1);
  transition-property: fill;
  transition-duration: var(--animationgoit-duration);
  transition-timing-function: var(--transition-timing-function-goit);
}

.registration-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  padding: 8px 0 0 16px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: outline, border;
  transition-duration: var(--animationgoit-duration);
  transition-timing-function: var(--transition-timing-function-goit);
}

.registration-form-message:focus {
  outline-color: var(--brand-primary-color);
}

.registration-form-message::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.registration-form-input:focus + .registration-form-icon {
  fill: var(--brand-primary-color);
  border-color: var(--brand-primary-color);
}

.registration-form-input:focus,
.registration-form-message:focus {
  outline: 1px solid var(--brand-primary-color);
  box-shadow: unset;
}

.registration-form-input::placeholder,
.registration-form-message::placeholder {
  opacity: 0;
  transition: opacity 250ms var(--transition-timing-function-goit);
}

.registration-form-input:focus::placeholder,
.registration-form-message:focus::placeholder {
  opacity: 1;
  transition-delay: 200ms;
}

/* checkbox */
.registration-form-agreement {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 24px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.registration-form-checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  transition-property: border-color;
  transition-duration: var(--animationgoit-duration);
  transition-timing-function: var(--transition-timing-function-goit);
}

.registration-form-checkbox:checked {
  background-image: url(../img/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;

  background-color: #404bbf;
  border-color: var(--brand-primary-color);
}

.registration-form-text {
  user-select: none;
}

.send-registration-btn {
  background-color: var(--brand-primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;

  margin-left: auto;
  margin-right: auto;
  width: 169px;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 64px;

  transition-duration: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.send-registration-btn:hover,
.send-registration-btn:focus {
  background-color: #404bbf;
}

.registration-form-link {
  color: var(--brand-primary-color);
}

@media screen and (min-width: 360px) {
  .modal {
    width: 345px;
  }
}

@media screen and (min-width: 320px) {
  .modal {
    width: 305px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 392px;
    padding-top: 72px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 584px;
    overflow: auto;
  }
}

/* Portfolio  Page*/
/* Section Button Filtres */
.prtf {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-title-top {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.filter-btn-list {
  list-style: none;
  margin-bottom: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-btn-list li:not(:last-child) {
  margin-right: 24px;
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  color: var(--brand-primary-color);
  background: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  border-radius: 4px;
  padding: 12px 24px;
  transition-property: box-shadow, background-color, color, border-color;
  transition-duration: var(--animationgoit-duration);
  transition-timing-function: var(--transition-timing-function-goit);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--brand-primary-color);
  color: #ffffff;
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Section Row-a,b,c */

ul {
  list-style: none;
}

.row-imga {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  column-gap: 24px;
  row-gap: 48px;
}

.row-imgs {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 164px;
  padding-left: 32px;
  height: 300px;
  width: 360px;
  background-color: var(--brand-primary-color);
  transition-property: transform;
  transition-duration: var(--animationgoit-duration);
  transition-timing-function: var(--transition-timing-function-goit);
}

.galerrry {
  position: relative;
  overflow: hidden;
}

.overlaytext {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.rowlink:hover .overlay,
.rowlink:focus .overlay {
  transform: translateY(0);
}

.rowlink {
  text-decoration: none;
  display: block;
  color: var(--dark);
  letter-spacing: 0.02em;
  box-shadow: 0px 1px 6px rgb(46 47 66 / 8%);
  transition-property: box-shadow;
  transition-duration: var(--animationgoit-duration);
  transition-timing-function: var(--transition-timing-function-goit);
}

.rowlink:hover,
.rowlink:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.rowinf {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-top: 0;
  border-right: 0.5px;
  border-bottom: 0.5px;
  border-left: 0.5px;
  border-color: #f4f4fd;
}

.row-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--h2h3-header-footer-color);
  margin-bottom: 8px;
}

.row-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

.row-page-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
